.hero {
  .link {
    font-size: 14px;
    outline: 0;
    border: 0;
    background-color: #fff100;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 378px) {
      font-size: 12px;
    }

    a {
      font-weight: 900;
      min-width: auto;
      min-height: 60px;
      padding-block: 24px;
      padding-inline: 18px;
      text-transform: uppercase;
      @media screen and (max-width: 378px) {
        padding-inline: 2px;
      }
    }
  }
}
.home-article {
  .link {
    font-size: 14px;
    outline: 0;
    border: 0;
    min-height: 84px;
    background-color: #fff100;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 378px) {
      font-size: 12px;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    a {
      display: flex;
      justify-content: center;
      margin: auto;
      font-weight: 900;
      min-height: 84px;
      min-width: 267px;
      padding-block: 31px;
      padding-inline: 58px;
      text-transform: uppercase;
      @media screen and (max-width: 378px) {
        padding-inline: 2px;
      }
    }
  }
}
.location-info {
  height: 43.9vh;

  .link {
    font-size: 14px;
    outline: 0;
    border: 0;
    background-color: #fff100;

    display: flex;
    justify-content: center;
    @media screen and (max-width: 378px) {
      font-size: 12px;
    }

    a {
      font-weight: 900;
      min-width: auto;
      min-height: 60px;
      padding-block: 24px;
      padding-inline: 64px;
      text-transform: uppercase;
      @media screen and (max-width: 378px) {
        padding-inline: 2px;
      }
    }
  }
  .first-container {
    .select-country {
      width: min-content;
      display: block;
      position: relative;
      select {
        border: 1px solid#f8f8f8;
        background-color: #f8f8f8;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-weight: 300;
        min-width: auto;
        min-height: 60px;
        padding-block: 24px;
        padding-inline: 64px;
        padding-right: 200px;
        position: relative;
      }
    }
    .select-country::after {
      content: "";
      position: absolute;
      background-image: url(/images/utility/arrow_down_yellow.png);
      background-repeat: no-repeat;
      right: 20px;
      bottom: 32px;
      width: 15px;
      height: 10px;
    }
  }
}
