.about-container {
  margin-block: 2rem;
  .wrapper {
    padding-inline: 1rem;
    max-width: 1230px;
    margin: 0 auto;
  }
}
.second-header {
  ul {
    list-style: circle;
  }
}

.flex-container {
  margin-block: 2rem;
}
.flex-box {
  display: flex;

  align-items: center;
  padding: 1rem;
  gap: 1rem;
  .fact {
    flex-basis: 35%;
    font-weight: bold;
    text-align: right;
  }
  .figure {
    flex-basis: 65%;
  }
}
.odd {
  background-color: #f5f5f5;
}
