.story-carousel {
  margin-block: 2rem;
  .wrapper {
    padding-inline: 1rem;
    max-width: 1230px;
    margin: 0 auto;
  }
}

.carousel-container {
  position: relative;
  padding-bottom: 2rem;
  height: 320px;
}
.article {
  width: 100%;
}
.article {
  position: absolute;
}
.section-nav {
  .flex {
    display: flex;
    justify-content: space-around;
  }
}
.indicator {
  display: flex;
  gap: 0.5rem;
  .dot {
    width: 8px;
    height: 8px;
    background-color: #bbb;
    border-radius: 50%;
  }
  .dot.active {
    background-color: #666;
  }
}
