nav {
  padding-block: 1rem;
  .wrapper {
    padding-inline: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.nav-options {
  display: flex;
  align-items: center;
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    border-right: 1px solid #fde200;
    color: #a4a4a4;
    padding-block: 1rem;
    padding-inline: 0.25rem;
    @media screen and (min-width: 480px) {
      border-right: 0;
      border-left: 1px solid #fde200;
    }
    li {
      i {
        color: #a4a4a4;
        font-size: 20px;
      }
    }
  }
}
.mobile-only-menu {
  padding-left: 0.25rem;
  i {
    color: #fde200;
    font-size: 32px;
  }
  @media screen and (min-width: 480px) {
    padding-right: 0.25rem;
  }
}
