.hero {
  background-image: url(/images/header/hsh_banner_home.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f8f8f8;
  background-size: 195%;
  .wrapper {
    padding-inline: 1rem;
    max-width: 1230px;
    margin: 0 auto;
  }
}
.inner-container {
  min-height: 250px;
  display: flex;
  justify-content: flex-end;
  margin-left: 50%;
  .inner-content {
    max-width: 300px;
    padding: 32px 16px;
    h1 {
      font-size: 24px;
      font-weight: 100;
      line-height: 1.2;
    }
    button {
      padding: 16px;
    }
  }
}
