nav {
  font-weight: 300;
  padding-block: 1rem;
  .wrapper {
    padding-inline: 1rem;
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 100% !important;
      height: 100%;
      display: block;
    }
  }
}
.nav-options {
  display: flex;
  align-items: center;
  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  @media screen and (min-width: 980px) {
    .mobile-only-menu {
      display: none;
    }
  }
  .nav-icons {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    list-style: none;
    border-right: 1px solid #fde200;
    color: #a4a4a4;
    padding-block: 1rem;
    padding-inline: 0.25rem;

    @media screen and (min-width: 480px) {
      border-right: 0;
      border-left: 1px solid #fde200;
    }
    @media screen and (min-width: 1232px) {
      padding-left: 16px;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 980px) {
  .nav-links-001 {
    display: none;
  }
}
@media screen and (min-width: 980px) {
  .nav-links-001 {
    padding: 0;
    margin: 0;
    display: flex;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    display: flex;
    color: #a4a4a4;
    gap: 0.5rem;
    list-style: none;
    border-right: 0;
    text-transform: uppercase;
    position: relative;
    li {
      padding-block: 1rem;
    }
  }
  .nav-links-002 {
    position: absolute;
    display: none;
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
  }

  .menu-company:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-company {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: -25px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-locations:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-locations {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: 20px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-products:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-products {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: 30px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-compliance:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-compliance {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: 280px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-contact:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-contact {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: 409px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-careers:hover,
  .menu-cellq:hover {
    .highlight {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
}
@media screen and (min-width: 1232px) {
  .nav-links-001 {
    padding: 0;
    margin: 0;
    display: flex;
    padding-block: 1rem;
    padding-inline: 1rem;
    display: flex;
    color: #a4a4a4;
    gap: 2rem;
    list-style: none;
    border-right: 0;
    text-transform: uppercase;
    position: relative;
    li {
      padding-block: 1rem;
    }
  }
  .nav-links-002 {
    position: absolute;
    display: none;
    text-align: right;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
  }

  .menu-company:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-company {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: -25px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-locations:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-locations {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: 55px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-products:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-products {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: 90px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-compliance:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-compliance {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: 420px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-contact:hover {
    li {
      padding-block: 0.5rem;
    }
    .submenu-contact {
      display: block;
      padding-inline: 1.5rem;
      margin-top: 1rem;
      left: 570px;
    }
    .highlight:hover {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
  .menu-careers:hover,
  .menu-cellq:hover {
    .highlight {
      display: inline;
      background: #fde200;
      color: #ffffff;
      box-shadow: 0.125rem 0 0 #fde200, -0.125rem 0 0 #fde200;
    }
  }
}

.mobile-only-menu {
  padding-left: 0.25rem;
  i {
    color: #fde200;
    font-size: 32px;
  }
  @media screen and (min-width: 480px) {
    padding-right: 0.25rem;
  }
}
